<section class="flex list-container error" id="list-view">
    <mat-selection-list #citiesSelected [ngClass]="{'loading': showSpinner}">
        <mat-progress-spinner   class="center"
                                [color]="color"
                                [mode]="mode"
                                [value]="value"
                                *ngIf="showSpinner">
        </mat-progress-spinner>
        <mat-list-option [value]="city.geonameid" *ngFor="let city of cities"
                        [disabled]="showSpinner"
                        [selected]="isSelected(city.geonameid)">
            <h3 matLine innerHTML="{{ city.name | highlight: query }}"></h3>
            <p matLine>
                <span innerHTML="{{ city.subcountry | highlight: query }}"></span> - 
                <span innerHTML="{{ city.country | highlight: query }}"></span>
            </p>
        </mat-list-option>
        
        <mat-paginator  [ngClass]="{'loading': showSpinner}"
                        (page)="handlePageEvent($event)"
                        [length]="length"
                        [pageSize]="pageSize"
                        [showFirstLastButtons]="showFirstLastButtons"
                        [pageSizeOptions]="pageSizeOptions"
                        [pageIndex]="pageIndex"
                        [disabled]="showSpinner"
                        *ngIf="!showSpinner || !firstSearch">
        </mat-paginator>
    </mat-selection-list>
</section>

<section class="flex list-container" id="list-view">
    <button mat-raised-button color="primary"
            (click)="saveSelectedCities(citiesSelected)"
            [disabled]="showSpinner">Save Selected Cities</button>
</section>
