<nav class="app-nav">
    <h1 class="app-title">Pick Cities</h1>
</nav>

<div class="content">
    <app-filter-cities [subject]="subject"></app-filter-cities>
    <app-list-cities [subject]="subject"></app-list-cities>
    <!--<app-filter (hideLoader)="toggleLoader($event)" (sendStatements)="getStatements($event)"></app-filter>
        <app-filter>
    
    <app-loader [toggleLoader]="showLoader"></app-loader>
    
    <app-statements (hideLoader)="toggleLoader($event)" [statements]="statements"></app-statements>-->
    
</div>